body {
  font: 16px "Times New Roman", Times, serif;
  background-color: white;
  color: white;
  background: url(noise.png);
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-weight: bold;
	color: white;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
	padding: 10px 150px 10px 150px;
	border-radius: 15px;
	background-color: #160463;

}

#content-profileheader {
	font-size: 28px;
	font-weight: bold;
}

#content-education {
border-bottom: 1px solid #999;
	}

#content-workexperience {
border-bottom: 1px solid #999;
	}
#content-info {
margin-top: 0px;
margin-bottom: 0px;
}

.white-font {
font-color: white;
}
