body {
  font: 16px "Times New Roman", Times, serif;
  background-color: white;
}

#content-contact {
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 42px;
	font-color: orange; 
	font-weight: bold;
	letter-spacing: -2px;
	border-bottom: 1px solid #999;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#content-profileheader {
	font-size: 28px;
	font-weight: bold;

.orange-text {
  color: orange;
}

h2 {
border-bottom: 1px solid #999;
	}
h3 {
margin-top: 0px;
margin-bottom: 0px;
}
